name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      id: id-setup
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: global.json
    - run: echo '${{ steps.id-setup.outputs.dotnet-version }}'
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --collect:"XPlat Code Coverage" --settings coverlet.runsettings

    - name: Report generator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.1.10
      with:
        reports: 'test/**/TestResults/**/coverage.opencover.xml'
        targetdir: 'coveragereport'
        reporttypes: 'Html_Dark;Cobertura;Badges'

    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v2.2.3
      with:
        name: CoverageReport
        path: coveragereport

    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v2.2.3
      with:
        name: BadgeCoverage
        path: coveragereport/badge_combined.svg


        #dotnet tool install dotnet-reportgenerator-globaltool --tool-path reportgeneratortool --version 5.1.10 --ignore-failed-sources
      #reportgenerator -reporttypes:'Html_Dark;Badges' -reports:**/TestResults/**/*.xml -targetdir:coverageReport
