name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      id: id-setup
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: global.json
    - run: echo '${{ steps.id-setup.outputs.dotnet-version }}'
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --collect:"XPlat Code Coverage" --settings coverlet.runsettings

    #- name: Restore tools
    #  run: dotnet tool restore

    - name: Report generator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.1.10
      run: 'reportgenerator -reporttypes:Html_Dark;Badges -reports:**/TestResults/**/*.xml -targetdir:coverageReport'

    #- name: Upload coverage report artifact
    #  uses: actions/upload-artifact@v3.1.0


      #reportgenerator -reporttypes:'Html_Dark;Badges' -reports:**/TestResults/**/*.xml -targetdir:coverageReport


